{{#each files}}
<div>
    <p>"{{_name}}" by {{_author}} in "{{_category}}" category - {{createdOn}}</p>
    <form action="">
        <input class="preview-btn" name="{{_name}}" type="button" value="Preview">
        <input type="button" value="Delete">
        <input type="button" value="Share">
    </form>
</div>
{{/each}}