<section id="accordion">
    {{#each files}}
    <p class="paragraph" name="{{_name}}">"{{_name}}" by {{_author}} in "{{_category}}" category - {{createdOn}}</p>
    <form action="">
        <input class="preview-btn" name="{{_name}}" type="button" value="Preview">
        <input class="delete-btn dialog-link" name="{{_name}}" type="button" value="Delete">
        <input class="make-public-btn" type="button" name="{{_name}}" {{#if isPublic}}disabled="disabled" value="File is public"{{else}}value="Make public" {{/if}}>
    </form>
    {{/each}}
</section>
<div id="dialog" title="Delete">
    <p>Are you sure?</p>
</div>